@model IEnumerable<Subscription>

<div class="container col-12">
    <a class="nav-link text-dark" asp-area="" asp-controller="Subscription" asp-action="AddSubscription">add subscriptions</a>
    <h3 class="mt-4">List of Subscriptions</h3>
    <div class="row">
        @foreach (var subscription in Model)
        {
            <div class="col-4">
                <p>@subscription.Code</p>
                <p>@subscription.Price</p>
                <p>@subscription.DiscountValue</p>
                <p>@subscription.StartDate</p>
                <p>@subscription.EndDate</p>
                <a class="btn btn-primary"
                   asp-controller="Subscription"
                   asp-action="ViewSubscriptionDetails"
                   asp-route-id="@subscription.Id">
                    View Details
                </a>
                <a class="btn btn-primary"
                   asp-controller="Subscription"
                   asp-action="DeleteSubscription"
                   asp-route-id="@subscription.Id">
                    Delete
                </a>
            </div>
        }
    </div>
</div>