@model ParkingSpots

@{
	ViewBag.Title = "All Parking Spots";
}

<div class="card text-white bg-primary">
  <div class="card-header">Number of Available Spots </div>
  <div class="card-body">
    <h5 class="card-title">Total Spots: @Model.TotalSpots</h5>
    <h5 class="card-title">Reserved Spots: @Model.ReservedSpots</h5>
    <h5 class="card-title">Regular Spots: @Model.RegularSpots</h5>
  </div>
</div>

<form asp-controller="SpotListing" asp-action="Total" method="post">
    @Html.HiddenFor(model => model.ReservedSpots)
    @Html.HiddenFor(model => model.RegularSpots)
    <label for="TotalSpots">Update Total Spots</label>
    <input type="text" id="TotalSpots" name="TotalSpots" class="form-control" required />
    <br />
    <button type="submit" class="btn btn-primary">Update</button>
</form>