@model IEnumerable<WebApp.Models.PricingPlan>

@{
    ViewBag.Title = "List of Pricing Plans";
}

@foreach (var plan in Model)
{
    <h3>@plan.Type.Name.ToUpper() PRICING PLAN</h3>

    <p>Hourly Pricing: @plan.HourlyPricing</p>
    <p>Daily Pricing: @plan.DailyPricing</p>
    <p>Minimum Hours: @plan.MinimumHours</p>
    <a class="btn btn-primary"
       asp-controller="PricingPlan"
       asp-action="EditPricingPlan"
       asp-route-id="@plan.Id">
        Edit
    </a>
    <br />
}